.container {
    border-radius: 10px;
    background-color: #e4e4e4;
    box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.25);
    padding: 25px 35px;
    margin: 25px;
    width: 80vw;
    box-sizing: border-box;
    position: relative;
    transition: ease-in-out 20ms;
  }
  .user-info > span {
    line-height: 1.5;
  }
  .container:hover {
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.01);
  }
  .user-username,
  .user-mail {
    font-weight: 300;
    font-size: 15px;
    color: rgba($color: #000000, $alpha: 0.45);
  }
  .user-username {
    font-weight: 400 !important;
  }
  .user-location {
    min-width: 40%;
  }
  